
body
{
	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 100vh;
	height: auto;
	background: #ccc;
}


.body-wrapper
{
	float: left;
	width: 88%;
	min-height: 80vh;
	height: auto;
	clear: both;
	box-sizing: border-box;
	padding: 20px 0.5%;
	margin-left: 6%;
	background: #fff;
}


.header
{
	float: left;
	width: 100%;
	margin-bottom: 40px;
}


.page-title
{
	font-size: 20px;
	font-family: 'helvetica',sans-serif;
	margin-bottom: 10px;
	margin-top: 10px;
	text-align: center;
}


.header select
{
	width: 50%;
	height: 30px;
	margin-left: 25%;
	border: 1px solid #ccc;
	box-sizing: border-box;
	padding-left: 10px;
	border-radius: 3px;
}


.grid
{
	float: left;
	width: 25%;
	height: auto;
	margin: auto;
	box-sizing: border-box;
	padding: 0px 1.5%;
	border-radius: 5px;
	margin-bottom: 20px;
}


.grid section
{
	float: left;
	width: 100%;
	height: auto;
	background: #EFEFEF;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 8px;
	padding: 10px 2%;
}


.grid section h2
{
	margin-top: 5px;
	margin-bottom: 15px;
	font-size: 16px;
}


.grid header
{
	text-align: center;
	clear: both;
}


.grid header h2
{
	text-align: center;	
}


.grid .schedule
{
	float: left;
	width: 94%;
	margin-left: 3%;
	margin-top: 4px;
	height: auto;
	font-size: 13px;
	font-family: 'helvetica',arial;
} 


.grid .schedule-left
{
	float: left;
	width: 45%;
	height: auto;
	text-align: left;
}


.grid .schedule-middle
{
	float: left;
	width: 35%;
	height: auto;
	text-align: center;
}


.grid .schedule-right
{
	float: left;
	width: 20%;
	height: auto;
	text-align: right;
}



